extends ../partials/header.jade

block content
  header 
    .logo
      h1 Login Page
    .logo-blurb
      span Login Page Login Page Login Page Login Page Login Page Login Page Login Page Login Page Login Page Login Page Login Page Login Page Login Page Login Page Login Page Login Page Login Page Login Page Login Page Login Page Login Page Login Page Login Page Login Page 

  section
    form.pure-form(action="/login" method="POST")
      fieldset
        label(for="username") Username
        input.username(type="text" name="username" placeholder="User Name")
        label(for="password") Password
        input.password(type="password" name="password" placeholder="Password")
        button.pure-button.pure-button-primary(type="submit") Log In
  footer
script(type="text/javascript" src="/js/jquery.min.js")
script(type="text/javascript" src="/js/app.js")