$rem-calc : 1em;
//settings
$small-only: "only screen and (max-width: 40em)" !default;
$medium-up: "only screen and (min-width: 40.063em)";
$large-up: "only screen and (min-width: 64.063em)";

html {
  background: url('../assets/concrete_seamless.png') repeat;
  background-color: #fff;

  font-family: Helvetica, Karla, Arial, sans-serif;
  font-size: $rem-calc;
  color: #7e7e7e;
}

body {
  // width: 730px;
  // margin: 0 auto;
}

.container {
  max-width: 730px;
  margin: 0 auto;
  margin-top: 4em;
  border-top: 1px dotted #ccc;
  text-align: center;

  @media #{$medium-up} {
    // text-align: left;
  }

}

h1 {
  font-family: Helvetica, Karla, Arial, sans-serif;
  font-size: 3.5em;
  color: #7e7e7e;
  margin: 0;
}

.hero {

  height: auto;
  margin: 0 auto;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  padding-bottom: $rem-calc*0.5;
  text-align: center;

  img {
    width: inherit;
    height: auto;
    margin: 0 auto;
    padding: 0px;  
  }
}

header {
  display:flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: flex-start;
  align-content: flex-start;
  // align-items: center;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 4em;

  .logo {
    width: 400px;
    height: 100px;
    vertical-align: middle;
    margin: 13px 13px 0 0;
    padding-top: 10px;
  }

  .logo-blurb {
    display: none;

    @media #{$medium-up} {
      display: inline-block;
      width: 330px;
      border-left: 1px solid #ccc;
      margin: 13px;
      padding-left: 13px;
      text-align: left;

      //make mixin for this
      color: #a4a4a4;
      font-size: $rem-calc*0.8;    
      vertical-align: inherit;
    }
  }
}
 
section {
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  
  @media #{$medium-up} {
    .flex-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-start;
      align-items: center;
    }
  }
}

.flex-box {

  width: 300px;
  margin: 0 auto;

  flex-grow: 0;
  flex-shrink: 0;
  padding-top: $rem-calc*0.7;

  // @media #{$medium-up} .flex-box {
  //   width: 230px;
  //   height: 160px;
  // }

  @media #{$large-up} {
    width: 230px;
    padding-bottom: $rem-calc;
    border-bottom: 1px solid #ccc;

  }

  &:last-of-type .caption { 
    padding-bottom: $rem-calc*3;
    border-bottom: 1px solid #ccc;

    @media #{$medium-up} {
      padding-bottom: 0;
      border-bottom: none;       
    }
  }

  img {
    overflow: hidden;
    @media #{$medium-up} {
      display: inline-block;
      text-align: left;
    }  
  }
  
  .flex-image {
    @media #{$medium-up} {
      width: inherit;
      height: auto;
    }
  }
  .caption {
    margin: $rem-calc 0 0;
    text-align: left;
    color: #a4a4a4;
    font-size: $rem-calc*0.8;

    @media #{$medium-up} {
      width: inherit;
      height: auto;
    }
  }    
}

