html {
  background: url('../assets/concrete_seamless.png') repeat;
  background-color: #fff;
  font-family: Helvetica, Karla, Arial, sans-serif;
  font-size: 1em;
  color: #7e7e7e; }

.container {
  max-width: 730px;
  margin: 0 auto;
  margin-top: 4em;
  border-top: 1px dotted #ccc;
  text-align: center; }
  @media only screen and (min-width: 40.063em) {
    .container {
      text-align: left; } }

h1 {
  font-family: Helvetica, Karla, Arial, sans-serif;
  font-size: 3.5em;
  color: #7e7e7e;
  margin: 0; }

header {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: flex-start;
  align-content: flex-start;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 4em; }
  header .logo {
    width: 100%;
    vertical-align: middle;
    margin: 13px;
    padding-top: 10px; }
    @media only screen and (min-width: 40.063em) {
      header .logo {
        text-align: center;
        width: 400px; } }
  header .logo-blurb {
    color: #a4a4a4;
    font-size: 0.8em;
    vertical-align: inherit;
    display: none;
    width: 330px;
    border-left: 1px solid #ccc;
    margin: 13px;
    padding-left: 13px;
    text-align: left; }
    @media only screen and (min-width: 40.063em) {
      header .logo-blurb {
        display: inline-block; } }

section {
  width: auto; }
  section.hero {
    width: 320px;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5em;
    text-align: center; }
    @media only screen and (min-width: 40.063em) {
      section.hero {
        width: inherit; } }
    section.hero img {
      width: inherit;
      height: auto;
      margin: 0 auto;
      padding: 0px; }

a {
  text-decoration: none;
  color: #000; }

form {
  width: 400px;
  display: block;
  margin: 0 auto; }
  form input {
    width: 400px;
    display: block;
    margin: 0 auto;
    margin: 1em 0; }
  form textarea {
    width: 400px;
    height: 100px;
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
    resize: vertical;
    max-height: 300px; }
  form button {
    display: block;
    float: right; }
  form label {
    width: 400px;
    display: block; }

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start; }
  @media only screen and (min-width: 40.063em) {
    .flex-container .flex-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-start;
      align-items: center; } }

.flex-box {
  width: 300px;
  margin: 0 auto;
  flex-grow: 0;
  flex-shrink: 0;
  padding-top: 0.7em; }
  @media only screen and (min-width: 64.063em) {
    .flex-box {
      width: 230px;
      padding-bottom: 1em;
      border-bottom: 1px solid #ccc;
      margin: 0; } }
  .flex-box:last-of-type .caption {
    padding-bottom: 3em;
    border-bottom: 1px solid #ccc; }
    @media only screen and (min-width: 40.063em) {
      .flex-box:last-of-type .caption {
        padding-bottom: 0;
        border-bottom: none; } }
  .flex-box img {
    overflow: hidden;
    width: inherit; }
    @media only screen and (min-width: 40.063em) {
      .flex-box img {
        display: inline-block;
        text-align: left; } }
  @media only screen and (min-width: 40.063em) {
    .flex-box .flex-image {
      width: inherit;
      height: auto; } }
  .flex-box .caption {
    color: #a4a4a4;
    font-size: 0.8em;
    vertical-align: inherit;
    margin: 1em 0 0;
    text-align: left; }
    @media only screen and (min-width: 40.063em) {
      .flex-box .caption {
        width: inherit;
        height: auto; } }

footer {
  color: #a4a4a4;
  font-size: 0.8em;
  vertical-align: inherit;
  width: 100%;
  padding: 2em 0;
  height: 100px; }
