html {
  background: url('../assets/concrete_seamless.png') repeat;
  background-color: #fff;
  font-family: Helvetica, Karla, Arial, sans-serif;
  font-size: 1em;
  color: #7e7e7e; }

.container {
  max-width: 730px;
  margin: 0 auto;
  margin-top: 4em;
  border-top: 1px dotted #ccc;
  text-align: center; }

.hero {
  width: 300px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5em; }
  .hero img {
    width: inherit;
    height: auto;
    margin: 0 auto;
    padding: 0px; }
  @media only screen and (min-width:400px) {
    .hero {
      width: 100%; } }

h1 {
  font-family: Helvetica, Karla, Arial, sans-serif;
  font-size: 3em;
  color: #7e7e7e; }

section {
  width: 100%; }
  section .images {
    display: flex; }

.imgbox {
  width: 300px;
  margin: 0 auto; }
  .imgbox:first-of-type {
    padding-top: 0.7em; }
  .imgbox:last-of-type .caption {
    padding-bottom: 3em;
    border-bottom: 1px solid #ccc; }
  @media only screen and (min-width:400px) {
    .imgbox {
      width: 230px;
      height: 160px; } }
  .imgbox img {
    display: block;
    overflow: hidden; }
    @media only screen and (min-width:400px) {
      .imgbox img {
        width: 230px;
        height: 160px; } }
  .imgbox .caption {
    margin: 1em 0;
    text-align: left;
    color: #a4a4a4;
    font-size: 0.8em; }
    @media only screen and (min-width:400px) {
      .imgbox .caption {
        width: 230px;
        height: 160px; } }
