html {
  background: url('../assets/concrete_seamless.png') repeat;
  background-color: #fff; }

body {
  width: 730px;
  max-width: 730px;
  margin: 0 auto;
  margin-top: 64px;
  border-top: 1px dotted #ccc; }

h1 {
  font-family: Helvetica, Karla, Arial, sans-serif;
  font-size: 3em;
  color: #7e7e7e; }
