extends ./partials/header.jade

block content
  header 
    .logo
      h1 Edit Photo
    .logo-blurb
      span Welcome to our online portfolio, we are a small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps. Free Architecture WordPress Theme.

  section
    form.pure-form(action="/gallery/#{photo.id}?_method=PUT" method="POST")
      fieldset
        label(for="image") Image
        input.image(name="image" placeholder="Image" value="#{photo.image}")
        label(for="author") Author
        input.author(name="author" placeholder="Author" value="#{photo.author}")
        label(for="description") Description
        textarea.description(name="description" placeholder="Description")= photo.description
        button.pure-button.pure-button-primary(type="submit") Submit

  include ./includes/footer.jade

script(type="text/javascript" src="/js/jquery.min.js")
script(type="text/javascript" src="/js/app.js")