extends ./partials/header.jade

block content
  header 
    h1 _ARCHITEKT
    .left
    .right

  section
    .hero

  section
    .row
      img.onecolumn(src="http://placekitten.com/g/230/160")
      img.onecolumn(src="http://placekitten.com/g/230/160")
      img.onecolumn(src="http://placekitten.com/g/230/160")

  section
    .row
      img.onecolumn(src="http://placekitten.com/g/230/160")
      img.onecolumn(src="http://placekitten.com/g/230/160")
      img.onecolumn(src="http://placekitten.com/g/230/160")
  ul
    each photo in photos
      li 
        img(src="#{photo.image}", alt="shit")
        div= photo.author
        div= photo.description

  footer qwqw

script(type="text/javascript" src="/js/jquery.min.js")
script(type="text/javascript" src="/js/app.js")