extends ./partials/header.jade

block content
  header 
    h1 _ARCHITEKT
    .left
    .right

  section.hero
    img(src="http://placekitten.com/g/730/300")

  section.images
    each photo in photos
      .imgbox
        img(src="#{photo.image}")
        h2= photo.author
        .caption= photo.description
  
  footer qwqw

script(type="text/javascript" src="/js/jquery.min.js")
script(type="text/javascript" src="/js/app.js")