extends ./partials/header.jade

block content
  header 
    h1 _ARCHITEKT
    .left
    .right

  section.hero
    img(src="http://placekitten.com/g/730/300")

  ul
    each photo in photos
      li 
        img(src="#{photo.image}", alt="shit")
        div= photo.author
        div= photo.description
  section.images
    .imgbox
      img(src="http://placekitten.com/g/300/180")
      .caption Mountain Hill Cabin Winter — www.fantasticnorway.no
    .imgbox
      img(src="http://placekitten.com/g/300/180")
      .caption Kneisen Visitors Center — www.fantasticnorway.no
    .imgbox
      img(src="http://placekitten.com/g/300/180")
      .caption Bronnoy Kunstbase — www.fantasticnorway.no
    .imgbox
      img(src="http://placekitten.com/g/300/180")
      .caption Mountain Hill Cabin Winter — www.fantasticnorway.no
    .imgbox
      img(src="http://placekitten.com/g/300/180")
      .caption Kneisen Visitors Center — www.fantasticnorway.no
    .imgbox
      img(src="http://placekitten.com/g/300/180")
      .caption Bronnoy Kunstbase — www.fantasticnorway.no

  footer qwqw

script(type="text/javascript" src="/js/jquery.min.js")
script(type="text/javascript" src="/js/app.js")