extends ./partials/header.jade

block content
  header 
    h1 _ARCHITEKT
    .left
    .right

  section
    .hero

  section
    .row
      img.onethird(src="http://placekitten.com/g/230/160")
      img.onethird(src="http://placekitten.com/g/230/160")
      img.onethird(src="http://placekitten.com/g/230/160")

  section
    .row
      img.onethird(src="http://placekitten.com/g/230/160")
      img.onethird(src="http://placekitten.com/g/230/160")
      img.onethird(src="http://placekitten.com/g/230/160")

  footer

script(type="text/javascript" src="/js/jquery.min.js")
script(type="text/javascript" src="/js/app.js")