extends ./partials/header.jade

block content
  header 
    .logo
      h1 New Photo
    .logo-blurb
      span Welcome to our online portfolio, we are a small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps. Free Architecture WordPress Theme.

  section
    form.pure-form
      fieldset
        label(for="link") Image
        input.image(name="link")
        label(for="author") Author
        input.author(name="author")
        label(for="description") Description
        textarea.description(name="description" contenteditable)
        button.pure-button.pure-button-primary(type="submit" action="/gallery" method="POST") Submit

  footer

script(type="text/javascript" src="/js/jquery.min.js")
script(type="text/javascript" src="/js/app.js")