extends ./partials/header.jade

block content
  header 
    h1 New Photo
    .left
    .right

  section
    div
      input.image(name="image")
    div
      input.author(name="author")
    div
      textarea.description(contenteditable)
    div
      button(type="submit")
  footer

script(type="text/javascript" src="/js/jquery.min.js")
script(type="text/javascript" src="/js/app.js")