extends ./partials/header.jade

block content
  header 
    h1 New Photo
    .left
    .right

  section
    form(action="/gallery" method="POST")
      div
        input#image.image(name="image")
      div
        input#author.author(name="author")
      div
        textarea#description.description(name="description", contenteditable)
      div
        button(type="submit")
  footer

script(type="text/javascript" src="/js/jquery.min.js")
script(type="text/javascript" src="/js/app.js")